<h2>Admin Panel</h2>
<style>
    a{
        text-decoration: none;
        color: black;
    }
</style>
<div class="container">
<div class="row"><button type="button" class="btn"><a href="/adminpanelsignup">Register</a></button></div>
<div class="row"><button type="button" class="btn"><a href="/adminpanelsignin">Sign in</a></button></div>

</div>