<h1>Author haqida ma'lumotlar</h1>
<div class="row">
{{#each authors}}
    <div class="col-lg-4 col-md-2">
      <div class="card mb-3">
        <div class="card" style="width: 18rem;">
     <img style="width: 100%;" src="https://www.pngitem.com/pimgs/m/22-223968_default-profile-picture-circle-hd-png-download.png" class="card-img-top" alt="About profile">
     <div class="card-body">
     <h5 class="card-title">{{author_first_name}} {{author_last_name}}</h5>
     <p class="card-text">{{author_info}}</p>
     <p class="card-text">{{author_nick_name}}</p>
        <a href="#" class="btn btn-primary">Authorning barcha maqolalari</a>
  </div>
</div>
        </div>
      </div>
    

{{/each}}
</div>
