<h2>Dictionary Information </h2>
{{#each dictionary}}
 <div class="card">
  <div class="card-header" style="size: fix-content;">
    {{term}}
  </div>
  <div class="card-body" style="size: fix-content ;">
    <a href="/dictionary/{{_id}}" class="btn btn-primary" style="size : fix-content;">Batafsil o'qish</a>
  </div>
</div>
{{/each}}