<h2>Authorning barcha maqolalari</h2>

<div class="card text-center">
  <div class="card-header">
    {{resp.name}} {{resp.lastname}}
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">{{resp.title}}</p>
    <a href="#" class="btn btn-primary">Batafsil o'qish</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>  
